<!DOCTYPE html>
<html lang="pt-br" id="id-html">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/cadastrarNovoTreino.css" media="screen" />
</head>
<body id="body">

  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!-- Importes JS do dentro do projeto-->
  <script src="./js/cadastrarNovoTreino.js"></script>
  
  <!-- Menus da tela-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-light">
    <a class="navbar-brand" href="/home"><img src="Imagens/soCresceLogotipo.png" class="img-fluid" alt="Responsive image"
        width="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar"
      aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/telaTreinos">Treinos<span class="sr-only">(Página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/instrutores">Instrutores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <!-- Tabela de Exercícios-->
  <form action="/resultadoTreino" method="post">
  <table class="table table-bordered table-secondary">
    <thead>
      <tr class="table-primary">
        <th scope="col">Supino</th>
        <th scope="col">Biceps</th>
        <th scope="col">Perna</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% supino.forEach(exercicio1 => { %>
            <input name="checkboxTreino" type="checkbox" value="<%= exercicio1.id %>">  
            <%= exercicio1.nome %>
          <% }); %>
        </td>

        <td>
          <% biceps.forEach(exercicio2 => { %>
            <input name="checkboxTreino" type="checkbox" value="<%= exercicio2.id %>">  
            <%= exercicio2.nome %>
          <% }); %>
        </td>

        <td>
          <% perna.forEach(exercicio3 => { %>
            <input name="checkboxTreino" type="checkbox" value="<%= exercicio3.id %>">  
            <%= exercicio3.nome %>
          <% }); %>
        </td>
      </tr>
    </tbody>
    
    <!--Button Salvar ou Cancelar-->
    <thead class="thead-light">
      <tr>
        <td class = "tdSalvarCancelar" colspan="4">
          <div style="display: inline-flex;">
            <div>
              <button class="btn btn-outline-success" type="submit">Confirmar</button>
            </div>
            <div style="width: 5px;"></div>
            <div>
              <a href="/telaTreinos" class="btn btn-outline-danger">Cancelar</a>
            </div>
          </div>
        </td>
      </tr>
    </thead>
  </table>
</form>
</body>
</html>